.DS_Store
bin
.bake_cache
.vscode
gcov
.idea
*.pdb
deps
cmake-build-debug
bazel-bin
bazel-flecs
bazel-bazel
bazel-genfiles
bazel-out
bazel-testlogs
**/CMakeFiles/*



*.tmp.*
*.gen.*
*.cached.*
*__Gen.*
__Gen/
/tmp
/data
/assets/ext
/assets/compiled
/cache
/other
/input


# cpp
/.vscode/c_cpp_properties.json
/.vscode/compile_commands.json
/vsxmake*
/.xmake
/build
/compile_commands.json


*.pyc
__pycache__/
/.pytest_cache



